.wrapper {
  max-width: 438px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -2%;
  text-align: left;
}

.text {
  line-height: 22px;
  text-align: left;
}

.textRegister {
  line-height: 22px;
  text-align: left;
}

.registerBtn {
  margin-left: 10px;
  background-color: transparent;
  color: var(--dark-blue-color);
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  text-decoration: underline;
}
