.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paragraph {
  color: var(--primary-grey-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.name {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.statisticsList {
  height: 24px;
  display: flex;
  gap: 32px;
  margin-right: 90px;
}

.statisticsItem {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.statisticsItem::after {
  position: absolute;
  right: -16px;
  height: 16px;
  width: 1px;
  content: '';
  background-color: rgba(18, 20, 23, 0.2);
}

.statisticsItem:last-child::after {
  display: none;
}

.icon {
  width: 16px;
  height: 16px;
}

.statisticsText {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.price {
  color: var(--primary-green-color);
}

.addToFavoritesBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.iconHeart {
  width: 26px;
  height: 26px;
  pointer-events: none;
  stroke: black;
  fill: none;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

.favorites {
  fill: var(--dark-blue-color);
  stroke: var(--dark-blue-color);
}
