.wrapper {
  padding: 24px 16px;
  box-sizing: border-box;
  border: 1.5px dashed var(--dark-blue-color);
  border-radius: 30px;
  width: 100%;

  @media screen and (min-width: 768px) {
    padding: 40px 64px;
    width: 718px;
  }

  @media screen and (min-width: 1440px) {
    padding: 40px 122px;
    width: auto;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media screen and (min-width: 768px) {
    gap: 40px;
    flex-direction: row;
  }

  @media screen and (min-width: 1440px) {
    gap: 100px;
    flex-wrap: nowrap;
  }
}

.list .item:nth-child(2) .text {
  width: 96px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  height: 36px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.number {
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
  text-align: left;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.text {
  color: var(--primary-light-black-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: left;
}
