.wrapper {
  padding: 40px 122px;
  box-sizing: border-box;
  border: 1.5px dashed var(--dark-blue-color);
  border-radius: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 32px 64px;
  }

  .list {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 24px 16px;
  }

  .list {
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }

  .item {
    justify-content: space-between;
  }
}
